/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    
    display: flex;
    justify-content: center;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 2%;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header{
    height: 79px;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    
}

nav img {
    
    width: 61px;
    height: 19px;
    margin: 30px 0px 0px 0px;
}

nav ul {
    display: flex;
    gap: 68px;
    text-decoration: none;
    list-style-type: none;
    
}

nav a:hover{
    border-top: 2px solid #0065FC;
    padding-top: 15px;  
    color:#0065FC;   
}



/****** Headline ***********/

#headline h1{
    font-size: 22px;
    margin:0px 0px 8px 0px;
}

#headline p{
    margin: 0px 0px 35px 0px;
}

.search-bar{
    
    display: flex;
    width: 100%;    
}

/****** Searchbar ***********/  


.bordure-gauche{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;   
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.searchbar-icon{
    color: #FFFFFF;
    font-size: 18px;
}


input#search{
    
    outline: none; 
    font-weight: 700;
    font-size: 18px;  
    border: 1px solid #F2F2F2;
    padding: 15px 0px 15px 24px;
    box-sizing: border-box;
    width: 195px;
    height: 49px;
}

input#submit{
    font-weight: 700;
    font-size: 18px;
    color: white;
    outline: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px 15px 16px;
    border: 1px solid #0065FC;
    background: #0065FC;
    width: 132px;
    height: 49px;   
}

.submit-mobile{
    display: none;
    visibility: hidden;
    width: 49px;
    padding: 15x 16px 15px 16px;
    border: 1px solid #0065FC;
    background: #0065FC;
    border-radius: 15px;      
}


/****** Filter ***********/

.filter-icon{
    color: var(--main-color);
}

.info-icon{
    color: var(--main-color);
    font-size: 10px;
    
}
.filter-location-icon{
    color: #000000;
}

.ul-filter{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    margin-left: 0px;
    margin-top: 35px;
    gap:15px;
    
}

#li-titre{
    margin-right: 15px;
}

.li-filter{
    border-radius: 25px;
    padding: 10px 19px 10px 19px;
    
    border: 2px solid #D9D9D9
}

.li-filter i{
    margin-right: 10px;
}
.section .li-filter:hover{
    background-color: #DEEBFF;
}

#infobar{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
}


.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius:25px;
    width: 24px;
    height: 24px;
    padding: 0px 0px 0px 0px;

}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

.hebergements-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

.hebergements-cards a{
    
    max-width: 250px;
    display: flex;
    width: 31%;
    margin-top: 33px;
    
}

.hebergements-cards .card{
    
    width: 100%;
    height: 100%;

}



.hebergements-cards img{
    max-width: 240px;
    max-height: 124px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements-cards .card-content{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.hebergements-cards .card-title{
    margin-top: 8px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-top:0;
    margin-bottom: 8px;
}

.expand-sentence{
    
    font-weight: 700;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activités ******/

.activites{  
    margin: 65px 0px 0px 0px;
    padding: 0 20px 0 20px;
}

.activites-card{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    gap: 10px;
}

.activites-card a{
    width: 100%;
    max-width: 297.5px;
}

.activites .card{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}


.activites-card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
    max-height: 380px;
     
}

.activites .card-title{
    margin-left: 15px;  
    height: 35px;
    
}

/******* Footer *********/

footer{
    display: flex;
    margin-top: 65px;
    background-color: var(--main-bg-color);  
}



footer ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px; /* space between */
    list-style: none;
    margin: 20px 0px 20px 20px;
    width: 33%;
}

footer h2{
    margin: 0;
    font-size: 18px;
}

footer li{
    font-size: 16px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .li-filter{
        
    }
    #li-titre{
        display: flex;
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .ul-filter{
        flex-wrap: wrap;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards a{
        max-width: 268px;
        width: 33%;
    }

    .hebergements-cards img{
        max-width: 258px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .activites{
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
   .activites-card{
    
    
        width: 100%;
    
   }
    .activites .card{
        max-height: 270px;
        height: 100%;
        
    }
    .activites-card a{
        max-width: 193.5px;
        max-height: 270px;
        
    }

    .activites-card img{
        max-height: 200px;
        
    }
    .activites-card .card-title{
        margin-top: 0;
        margin-bottom: 0;
        height: 70px;
        display: flex;
        align-items: center;
    }
    footer{
        gap:30px;   
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    header{
        margin-bottom: 30px;
    }
    nav{
        flex-direction: column;
    }

    header ul{
        margin:
    }

    nav img{
        margin-bottom: 30px;
    }
    input#submit{
        display: none;
    }
    input#search{
        margin-right: -10px;
        width: 100%;
    }
        
    
    .submit-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: visible;

    }
    .hebergements-cards{
        flex-direction: column;
    }
    .hebergements-cards a{
        width: 100%;
    }
    .ul-filter {
        margin-left: 0;
        flex-wrap: wrap;
        gap:10px;
        flex-basis: ;
    }
    #li-titre{
        
        
        
        
    }
    .li-filter{
        display: flex;
        
        align-items: center;
        
       
        
        font-size: 14px;
        height: 46px;
        padding: 0px 15px 0px 15px;
        margin: 0px 0px 0px 0px;
    }
    .fa-li{
        padding-right: 0px;
    }
    body{
        
    }
    .main-container{
        width: 100%;
        padding:0 20px 0 20px;
    }

    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section{
        padding:20px;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards a{
        width: 100%;
    }

    .populaires .card{
        margin-top: 15px;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements a{
        max-width:100%;
    }

    .hebergements img{
        max-width: 100%;
    }

    .activites{
        padding: 0 10px 0 10px;
        
    }

    .activites .card{
       
        width: 100%;
        max-width: 100%;
    }

    .activites img{
        width: 100%;
        max-width: 100%;
    }
    
    .activites-card a{
        width: 100%;
        max-width: 100%;
        max-height: 200px;
       
    }
    .activites-card {
        flex-direction: column; 
        
        gap:100px;
       
    }

    footer{
        flex-direction: column;
    }
    
}